body {
    height: 100%;
    font-family: Arial, sans-serif;
}
 
* {
    box-sizing: border-box;
}
 
h1 {
    text-align:center;
    color:green;
    
}
 
/* styling background image */
body::before
{
        content: "";
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        /* Specify the background image to be used */
        background-image: url(
'/images/kpr_college_bg.jpg');
        background-size: cover;


        /* Specify the background image */
        opacity: 0.7;
        z-index:-1;
    
}


/* Styling the form container */
.form_container {
 position: absolute;
 left: 28px;
 top: 50px;
 margin: 20px;
 max-width: 300px;
 padding: 16px;
}

b {
 color: green;
 font-size:26px;
 
}

/* Full-width input */
input[type=text],
input[type=password] {
 width: 100%;
 padding: 15px;
 margin: 15px 0px;
 border: 2px solid green;
}



/* Styling the submit button */
button {
    background-color:rgb(32, 151, 32);
    color: white;
    padding: 3px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   
   button:hover {
       background-color:rgb(43, 109, 231);
       transform: scale(1.1);
       transition: transform 0.3s;
   }
.btn 
{
    display: flex;
    flex-direction: row;

}