*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
    font-family: 'Roboto','sans-serif';
    
}

/* body
{
    background : url("images/kpr_college_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

} */

body::before
{
        content: "";
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        /* Specify the background image to be used */
        background-image: url(
'images/kpr_college_bg.jpg');
        background-size: cover;


        /* Specify the background image */
        opacity: 0.8;
        z-index:-1;
    
}

.container
{
    max-width : 80%;
    padding : 34px;
    margin: auto;
    background-color: rgb(135, 243, 198);
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
}

.container h1,p,span{
    text-align : center;
    font-family: 'Sriracha',cursive;
    font-size: 40px;
}

.container p
{
    font-size: 20px;
}

input, textarea
{
    width: 80%;
    margin : 11px auto;
    padding: 7px;
    font-size: 11px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

.form-container 
{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
    

}

.btn 
{
    color:white;
    background-color: green;
    padding: 7px 10px;
    margin-bottom: 20px;
    font-size: 15px;
border: 2px solid white;
border-radius: 14px;
cursor: pointer;

}

.bg
{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

/* .submitMsg
{
    font-size: 10px;
    color: green;
} */

/* .inpd {
    width: 35%;
    margin-left: 5px;
    margin-right: 5px;

  
  
} */

/* Adding height to form */
.container 
{
    height: 100%;
    /* overflow-y: auto; */
}

#kpriet
{
    color:green;
}

#kpriet:hover
{
    color:rgb(9, 9, 197);
}




.details p,.details
{
    font-weight: bold;
    font-family: 'Roboto','sans-serif';
    font-size: 20px;
    /* display :inline; */
    
    
}

.details p
{
    display:inline;
}

.inp #approve, #status,label
{
    margin: 15px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Roboto','sans-serif';
    font-size: 18px;

}

#status
{
    border-radius: 10px;
}




